In [ ]:
import numpy as np 
import pandas as pd
import os

In [ ]:
movies_path = os.path.join("..\data","movies.csv")
rating_path = os.path.join("..\data","ratings.csv")
tags_path = os.path.join("..\data","tags.csv")

movies_data = pd.read_csv(movies_path)
rating_data =  pd.read_csv(rating_path)
tags_data = pd.read_csv(tags_path)

In [20]:
print(movies_data.isnull().sum())
print(rating_data.isnull().sum())
print(tags_data.isnull().sum())

movieId    0
title      0
genres     0
year       0
text       0
tag        0
dtype: int64
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [21]:
print(movies_data.shape)
print(rating_data.shape)

(9742, 6)
(100836, 4)

In [22]:
print(movies_data.isna().sum())
print(f"duplicates : {movies_data.duplicated().sum()}")

movieId    0
title      0
genres     0
year       0
text       0
tag        0
dtype: int64
duplicates : 0

In [ ]:
movies_data['genres'] = movies_data['genres'].str.replace('|', ' ').str.lower()
movies_data['year'] = movies_data['title'].str.extract(r'\((\d{4})\)').astype(float)
movies_data['title'] = movies_data['title'].str.lower()

movies_data['year'] = movies_data['year'].fillna(0).astype(int).astype(str)  # convert NaNs to '0' or ''
movies_data['text'] = movies_data['title'] + ' ' + movies_data['genres'] + ' ' + movies_data['year']

In [ ]:
movies_data.head(6)

In [ ]:
# Group tags by movieId and combine all tags into one string separated by space
tags_agg = tags_data.groupby('movieId')['tag'].apply(lambda x: ' '.join(x.str.lower().unique())).reset_index()

# Merge aggregated tags into movies_data on movieId
movies_data = movies_data.merge(tags_agg, on='movieId', how='left')

# Fill NaN tags with empty string (movies with no tags)
movies_data['tag'] = movies_data['tag'].fillna('')

# Optionally, update your 'text' column to include tags as well
movies_data['text'] = movies_data['text'] + ' ' + movies_data['tag']

In [33]:
print(movies_data.shape)
movies_data.head(6)

(9742, 6)

,movieId,title,genres,year,text,tag
0,1,toy story (1995),adventure animation children comedy fantasy,1995,toy story (1995) adventure animation children ...,pixar fun
1,2,jumanji (1995),adventure children fantasy,1995,jumanji (1995) adventure children fantasy 1995...,fantasy magic board game robin williams game
2,3,grumpier old men (1995),comedy romance,1995,grumpier old men (1995) comedy romance 1995 mo...,moldy old
3,4,waiting to exhale (1995),comedy drama romance,1995,waiting to exhale (1995) comedy drama romance ...,
4,5,father of the bride part ii (1995),comedy,1995,father of the bride part ii (1995) comedy 1995...,pregnancy remake
5,6,heat (1995),action crime thriller,1995,heat (1995) action crime thriller 1995,

In [29]:
movies_data.to_csv('..\data\cleaned_movies.csv', index=False)